html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
a{
    text-decoration: none;
}
/*main code*/
html{
    font-family: 'VT323', monospace;
    font-size: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
#menu{
    display: none;
}
/* HEADER */
header{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}
header > a > img{
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header > label{
    font-size: 4rem;
    padding: 25px;
    position: absolute;
    right: 0;
    color: #E79115;
}
header > nav{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 30%;
    right: 0;
    font-size: 1.8rem;
    line-height: 6rem;
    background: rgba(231, 145, 21, 0.64);
}
header > nav > a{
    color: black;
    text-align: center;
}
#menu:checked ~ header > nav{
    display: flex;
}
@media only screen and (min-width:700px){
    header > a > img{
        height: 100px;
        left: 0%;
        transform: translateX(0%);
    }
    header > label{
        display: none;
    }
    header > nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        top: 0;
        right: 20px;
        height: 50px;
        width: 70%;
        font-size: 2.4rem;
    }
    header > nav > a{
        width: 125px;
    }
}
/* HEADER END */

/* MAIN */
main{
    min-width: 350px;
    width: 100%;
    z-index: 1;
}
    /* start page */
        .start-page{
            width: 100%;
            max-width: 1920px;
            margin: 0 auto;
            display: block;
        }
            /* book a table */
            #start-background{
                height: 55vw;
                background-image: url(background2-min.png);
                background-size: contain;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
                align-items: center;
                text-align: center;
            }
                #book-a-table{
                    color: white;
                    width: 70%;
                    height: 150px;
                    margin-top: 50px;
                    display: flex;
                    justify-content:space-around;
                    align-items: center;
                    flex-direction: column;
                }
                    #button{
                        display: none;
                    }
                    #book-a-table > label{
                        cursor: pointer;
                        background-color: rgba(0, 0, 0, 0.356);
                        border-radius: 20px;
                        height: fit-content;
                        width: fit-content;
                        padding: 0.5rem;
                        margin: 10px 0;
                    }
                        .h2-text{
                            font-size: 3rem;
                            letter-spacing: 0.2rem;
                        }
                    #parameters{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                    }
                        .select{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin: 0 10px;
                            background-color: rgba(0, 0, 0, 0.356);
                        }
                            .icon{
                                font-size: 25px;
                            }
                            .text{
                                font-size: 2rem;
                            }
                            .select > input{
                                width: 70px;
                                height: 20px;
                                border: 2px solid rgba(0, 0, 0, 0.356);
                                padding: 1px;
                            }
            @media screen and (min-width: 700px) {
                #start-background{
                    align-items: flex-end;
                }
                #book-a-table{
                    margin-top: 150px;
                }
            }
    /* start page end */

    /* menu */
        #menu-img{
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
        }
            #menu-img > img{
                width: 100%;
                max-width: 1920px;
            }
    /* menu end */

    /* our story */
            /* .start page in 186 line */
                #our-story{
                    position: relative;
                    background-blend-mode: multiply;
                    background-attachment: fixed;
                    height: calc(100vw - 20%);
                    background:rgba(0, 0, 0, 0.4) url(hand-hd-min.png);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: flex;
                    flex-direction: column;
                    justify-content:flex-start;
                    align-items: center;
                    text-align: center;
                }
                    .separator1{
                        width: 100%;
                        position: absolute;
                        top: 0;
                    }
                    .separator2{
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                    }
                    #our-story > article{
                        margin-top: 50px;
                    }
                    .content-on-black-bgc{
                        width: 80%;
                        height: 30%;
                        display: flex;
                        justify-content:space-evenly;
                        flex-direction: column;
                        color: white;
                        text-align: center;
                        margin-bottom: 30rem;
                    }
                    .content-on-black-bgc > h2{
                        color: white;
                        font-size: 3.2rem;
                        margin: 10vw 0;
                    }
    /* our story end */
                    
    /* news & events */
        #news-events{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            #news-events > h2{
                margin: 50px 0 20px 0;
            }
            .event{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-style: 1.6rem;
            }
                h3{
                    font-size: 2rem;
                    padding-bottom: 2rem;
                }
                .event > img{
                    width: 30%;
                }
                .content{
                    width: 60%;
                    text-align: center;
                    padding: 2rem 0;
                }
    /* news & events end*/

    /* contact */
        #contact-us{
            background-blend-mode: multiply;
            background: rgba(0, 0, 0, 0.4) url(pizzeria-outdoor.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: bottom;
            height: fit-content;
            min-height: 500px;
            background-position: center;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
        }
        #contact-us > h2{
            margin-top: 70px;
            color: white;
        }
        #contact-us > article{
            color: white;
            text-align: center;
        }
        #contact-us > article > div{
            padding: 2rem 0;
        }
        #address{
            margin-top: 5rem;
        }
        figcaption{
            word-wrap: wrap;
            color: white;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.479);
        }
    /* contact end*/
/* main end */